.moviescard {
  position: relative;
  /* padding: 25px 0 0 0; */
  margin: 0;
}

.moviescard:nth-child(-n+3) {
  /* margin-top: 25px; */
}

.moviescard__image {
  display: block;
  width: 100%;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
  transition: all, 0.3s;
  margin: 25px 0 0 0;
}

.moviescard__image:hover {
  opacity: 0.6;
}

.moviescard__info {
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin: 14px 14px 0;
}

.moviescard__save {
  width: 21px;
  height: 21px;
  border: none;
  background-image: url(../../images/not-liked.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 0;
  margin: 0;
}

.moviescard__save:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.moviescard__saved {
  width: 21px;
  height: 21px;
  background-image: url(../../images/is-liked.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-y: center;
  border: none;
  padding: 0;
  margin: 0;
}

.moviescard__saved:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.moviescard__remove {}

.moviescard__remove:hover {}

.moviescard__title {
  font-size: 13px;
  line-height: 16px;
  margin: 3px 0 0 0;
}

.moviescard__time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 13px;
  background-color: transparent;
  color: #8b8b8b;
  font-size: 11px;
  line-height: 10px;
  margin: 20px 0 0 5px;
}

@media (width <= 768px) {
  .moviescard__image {
    height: 190px;
  }

  .moviescard__info {
    margin: 25px 0 0 0;
  }
}

@media (width <= 320px) {
  .moviescard__image {
    height: 168px;
    margin: 0;
  }

  .moviescard__info {
    display: flex;
    justify-content: space-between;
    margin: 13px 0 0 0;
  }

  .moviescard__save {
    /* top: 10px;
    right: 10px; */
    background-position-y: 0%;
    margin: 0 12px 0 0;
  }

  .moviescard__saved {
    /* top: 10px;
    right: 10px; */
  }

  .moviescard__title {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 15px;
  }

  .moviescard__time {
  margin: 10px 0 0 5px;
}
}
