.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-bg-color);
  padding: 70px 0 70px 0;
}

.profile__header {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 123px auto 0;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  width: 410px;
  height: 31px;
  margin: 0 0 17px 0;
}

.profile__container:last-child {
  border-bottom: none;
  margin: 0;
}

.profile__container-name {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
}

.profile__input {
  background-color: transparent;
  align-self: flex-start;
  font-size: 11px;
  line-height: 13px;
  color: white;
  text-align: end;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.profile__save-changes {
  font-size: 13px;
  color: white;
  background-color: var(--second-bg-color);
  border: none;
  cursor: pointer;
  transition: all, .3s;
  margin: 186px 0 16px 0;
}

.profile__save-changes:hover {
  opacity: .7;
}

.profile__logout {
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  color: var(--red);
  cursor: pointer;
  transition: all, .3s;
}

.profile__logout:hover {
  opacity: .7;
}


@media (width <= 768px) {
  .profile {
    padding: 233px 0 128px 0;
  }

  .profile__form {
    margin: 98px auto 0;
  }

  .profile__save-changes {
    margin: 173px 0 16px 0;
  }
}

@media (width <= 430px) {
  .profile {
    padding: 67px 0 128px 0;
  }

  .profile__container {
    width: 260px;
  }

  .profile__form {
    margin: 82px auto 0;
  }

  .profile__save-changes {
    margin: 341px 0 16px 0;
  }

}