.footer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas:
    "text text"
    "copy navy";
  padding: 79px 70px 20px 70px;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  color: #8B8B8B;
  grid-area: text;
  border-bottom: 1px solid #424242;
  color: #8b8b8b;
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
}

.footer__copywright {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0 0 0;
  grid-area: copy;
}

.footer__navy {
  grid-area: navy;
  display: flex;
  justify-content: right;
  margin: 20px 0 0 0;
}

.footer__navy-link {
  font-size: 13px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
}

.footer__navy-link:last-child {
  margin: 0;
}

@media (width <= 768px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }
}

@media (width <= 360px) {
  .footer {
    padding: 79px 10px 20px 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "navy"
      "copy";
  }

  .footer__text {
    font-size: 12px;
    padding: 0 0 21px 0;
  }

  .footer__copywright {
    font-size: 12px;
    text-align: center;
    color: #8B8B8B;
  }

  .footer__navy {
    flex-direction: column;
    align-items: center;
  }

  .footer__navy-link {
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin: 0 0 12px 0;
  }

}